@(company: Company, products: List[Product], productForm: Form[Product])

@import helper._

@main("Products") {
 
    <h4>@company.name</h4>
  
    <div id="products"
        class="productDiv">
        
        <h4>Add Product</h4>
  
        @form(action = routes.ProductController.addProduct) {
            @tags.productInputs(productForm)
            
            <input type="hidden"
                id="companyId"
                name="companyId"
                value="@company.id">
          
            <input id="addProductButton"
                type="submit"
                value="Add product">
        }
        
        @tags.productTable(products, "products")
    
    </div>    
}