@(companies: List[Company], companyForm: Form[Company])

@import helper._

@main("Companies") {

    <div id="companies"
        class="companyDiv">
    
        @form(action = routes.CompanyController.addCompany) {
            @inputText(companyForm("Id"), '_showConstraints -> false)
            @inputText(companyForm("Name"))
    
            <input id="addCompanyButton"
                type="submit"
                value="Add company"
                onclick="">
        }
        
        @if(companies.size > 0) {
            <table id="companyTable">
                <tr>
                    <th>Company name</th>
                </tr>
                @companies.map { company =>
                    <tr id="companyTable@companies.indexOf(company)">
                        <td>
                            <a href="companies/@company.id">
                                @company.name
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
}