
@(products: List[Product],
    productForm: Form[Product],
    filteredProducts: List[Product],
    searchProductForm: Form[Product])

@import helper._

@main("Products") {
  
  @form(action = routes.Application.addProduct) {

    @tags.productInputs(productForm)
      
      <input id="addProductButton"
          type="submit"
          value="Add product">
  }

    @if(products.size > 0) {
        <table id="productTable">
            @products.map { product =>
          <tr>
            <th>Product name</th>
            <th>Colour</th>
            <th>Size</th>
          </tr>
          <tr id="productRow@products.indexOf(product)">
            <td>@product.name</td>
            <td>@product.colour</td>
            <td>@product.size</td>
          </tr>
          }
        </table>
    }
    
  @form(action = routes.Application.searchProducts) {

    @tags.productInputs(searchProductForm)
    
      <input id="searchProductsButton"
          type="submit"
          value="Search products">
  }
  
  @if(filteredProducts != null) {
        <table id="filteredProductTable">
            @filteredProducts.map { product =>
          <tr>
            <th>Product name</th>
            <th>Colour</th>
            <th>Size</th>
          </tr>
          <tr id="filteredProductRow@filteredProducts.indexOf(product)">
            <td>@product.name</td>
            <td>@product.colour</td>
            <td>@product.size</td>
          </tr>
          }
        </table>
    }
}